/* form{
    width: 400px;
    margin: auto;
    margin-top: 250px;
}

input{
    padding: 4px 10px;
    border: 0;
    font-size: 16px;

}

.search{
    width: 75px;
    border: 0.5px solid black ;
}

.submit{
    width: 70px;
    background-color: coral;
} */