body{
    margin: 0;  
    padding: 0;  
    background-color:rgb(224, 222, 222);  
    font-family: 'Segoe UI';  
} 
.sign-up{
    padding: 5rem;
}
.sign{
    margin-bottom: 1rem;
}
.sign-in{
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 25rem;
    width: 30rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.form-container{
    padding-left: 4rem;
    padding-right: 2rem;
}
.not-have-account{
    padding-top: .5rem;
    padding-left: 12rem;
    height: 4rem;
    width: 24rem;
    background-color: rgb(253, 253, 253);
}

#log{
    display: block;
    padding: .5rem;
    color: whitesmoke;
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

#e-mail, #pass-word{
    display: block;
    margin-top: .5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 14rem;
    margin-bottom: .9rem;
}

.same-line{
    display: inline;
    padding: 0.5rem;
    color: black;

}

.distant{
    padding-left: 3rem;
    color: rgb(141, 140, 140);
}

.color{
    color: rgb(141, 140, 140);
}
.centre{
    text-align: center;
    font-size: small;
}

#logg, #logged{
    padding: 0.5rem;
    padding-right: 7.35rem;
    padding-left: 7.35rem;
    display: block;
    background-color: black;
    color: white;
    
}

#logg{
    margin-bottom: .5rem;
    padding-right: 10.48rem;
    padding-left: 10.48rem;
    
}

#logged{
    position: relative;
}

.stay-on-top{
    position: absolute;
    padding: 1rem;
    background-color: cornflowerblue;
    bottom: .2rem;
}

.bold-link{
    font-weight: bold;
    font-size: .9rem;
}
.centre1{
    justify-content: center;
}
