*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utiliy*/
body{
    font-size: small;
    
    background-color: gray;
    
}
li{
    list-style-type: none;
}
#body-1{
   
    background-color: white;
    margin: 1rem 25rem 0rem 20rem;
    
    font-size: small;
    
    padding: 2rem 2rem;
}
h1, h2{
    font-size: 1rem;
}
#main{
   
    background-color: white;
    margin: 1rem 25rem 0rem 20rem;
    
    font-size: small;
    
    padding: 2rem 2rem;
}
#main{
    display: grid;
    grid-template-columns: 12rem 25rem;
}
#back{
    margin-top: 20rem;
}
#continue{
    position: absolute;
    top: 35rem;
    right: 30rem;
    background-color: black;
    padding: 0.5rem;
    color: white;
}
#f{
    margin-bottom: 3rem;
}
#scan{
    margin-bottom: 3rem;
}
#show{
    display: grid;
    grid-template-columns: 18rem 2rem;
    margin-top: 1rem;
    padding: 2rem;
    margin-right: 3rem;
    color: rgb(204, 201, 201);
} 
#upload {
    padding-left: 4rem;
}
#front{
    color: rgb(204, 201, 201);
    position: absolute;
    top: 29rem;
    right: 50rem;
}
#direct{
    position: absolute;
    top: 29rem;
    right: 30rem;
    color: #0b80ee;
}
