





*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*utiliy style*/
#no, #who, #ceo, #xyz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    line-height: 1.5;
    background: #fff;
    margin-left: 15rem;
    font-style: normal;
    margin: auto;
    max-width: 1100px;
    color: rgb(128, 125, 125);
    
}
#icon{
    display: grid;
    grid-template-columns: 1rem 1rem 1rem 1rem;
    grid-gap: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}
main{
    background: white;
}

a{
    text-decoration: none;
    padding: 0.2rem 0.9rem;
   
    display: inline-block;
    color: black;
    background: white;
}
h1, h2, h3, h4, h5,h6{
    font-weight: bold;
    line-height: 1.3;
    color: black;
}
header{
    
    position: absolute;
    top: 0.1rem;
    left: 0.005rem;
}
li{
    list-style: none;
}


/*nav bar*/
#logo{font-family: 'Chiller';}
#search{
    display: flex;
    align-items: center;
    background-color: #fff;
}
#search span{
    margin-right: 2rem;
    margin-left: 15rem;
    font-family: 'chiller,regular';
}
nav{
    padding-left: 7rem;
}
nav li a{
    font-size: .7rem;
}
#search input{
    border: solid thin rgb(241, 237, 237);
    padding: 0.3rem 6rem 0.3rem 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    width: 30rem;
}
#search button{
    color: #fff;
    background-color: orangered;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    margin-left: .5rem;
}
label i{
    position: relative;
    left: 4rem;
    top: .2rem;
}
nav{
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(6, 7rem);
    border: none;
    color: black;
    background-color:#FDFDFD;
}
nav li a{
    background-color: #FDFDFD;
}
#total{
    position: sticky;
    top: 0;
    z-index: 5;
}

#small{
    font-size: xx-small;
    margin-bottom: 1rem;
    margin-left: 8rem;
}
#small span{
    color: rgb(218, 213, 213);
}
/*about us*/
/*section 1*/
#container{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    margin-left: 5rem;
}


#no img{
    margin-bottom: 1rem;
}
 #ceo, .longer, #image, #image, #who, #no{
    margin-bottom: 1rem;
}
#who{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    
}
/*section 2*/
.section-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
#no{
    margin-top: 2rem;
}
#who, #no, #ceo{
    padding: 0 10rem;
}
#who img{
    margin-top: 2rem;
}
#image, .longer{
    background-color: rgb(206, 205, 205);
    color: rgb(128, 125, 125);
    
}
.longer{
    padding-top: 3rem;
    padding-left: 8rem;
}
#choice{
    position: absolute;
    right: 13rem;
    top: 63rem;
}
/*section 3*/

#section-3{
    border: solid thin rgb(248, 248, 248);
    margin-top: 15rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 27rem 45rem;
}
#ceo{
    margin-top: 2rem;
    margin-right: 3rem;
}
#beyond{
    margin-left: 6rem;
}
#xyz{
    padding-right: 10rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
}
#ceo h1 {
    font-size: x-small;
}
/*footer*/
footer{
    margin-top: 5rem;
    padding-left: 6rem;
   margin-left: 0;
   border: 0;
   color:rgb(80, 79, 79) ;
   background-color: #FBFBFB;
   font-size: xx-small;
   background-size: cover;
}
#footer{
   padding-top: 5%;
   display: grid;
   grid-template-columns: repeat(6, 13rem);
   grid-gap: 2rem;
}
 h1{
    text-transform: uppercase;
}
#copyright{
   margin-top: 4rem;
}
footer h1{
   font-size: 0.5rem;
   margin-bottom: 1rem;
   color: black;
}
footer input{
   padding: 0.0001rem;
   border: solid thin black;
}
#email{
   border: solid thin gray;
   width: 7rem;
   margin-top: 1rem;
}
#subscribe{
   background: black;
   color: #fff;
}
#copyright{
   padding-bottom: 1rem;
}
#blank a{
   border: none;
   background-color: #FBFBFB;
}
#blank{
   display: flex;
   margin-right: 20rem;   
}
::placeholder{
    padding: .5rem 0rem .7rem .5rem;
    font-size: .7rem;
}

