*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*utiliy style*/
#body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.5;
    background: #fff;
    margin-left: 7rem;
    font-style: normal;
    margin: auto;
    max-width: 1100px;
}
#icon{
    display: grid;
    grid-template-columns: 1rem 1rem 1rem 1rem;
    grid-gap: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 8rem;
}
main{
    background: white;
}
a{
    text-decoration: none;
    
   
    display: inline-block;
    color: black;
    background: white;
}
h1, h2, h3, h4, h5,h6{
    font-weight: bold;
    line-height: 1.3;
}
header{
    
    position: absolute;
    top: 0.1rem;
    left: 0.005rem;
}
li{
    list-style: none;
}
/*nav bar*/
#search{
    display: flex;
    align-items: center;
    background-color: #fff;
}
#search span{
    margin-right: 2rem;
    margin-left: 15rem;
    font-family: 'chiller,regular';
}
nav{
    padding-left: 7rem;
}
nav li a{
    font-size: .7rem;
}
#search input{
    border: solid thin rgb(241, 237, 237);
    padding: 0.3rem 6rem 0.3rem 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    width: 30rem;
}
#search button{
    color: #fff;
    background-color: orangered;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    margin-left: .5rem;
}
label i{
    position: relative;
    left: 4rem;
    top: .2rem;
}
#small span{
    color: rgb(218, 213, 213);
}
nav{
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(6, 7rem);
    border: none;
    color: black;
    background-color:#FDFDFD;
}
nav li a{
    background-color: #FDFDFD;
}
#total{
    position: sticky;
    top: 0;
    z-index: 5;
}

#small{
    font-size: xx-small;
    margin-bottom: 2rem;
    margin-left: -.00001rem;
    margin-top: 0.5;
}

/*Showcase*/
    

#g{
    display: grid;
    grid-template-columns: 50px 350px 40rem;
    grid-gap: 2rem;
}
#num{
    font-weight: bold;
    margin-bottom: 2rem;
}
#del{
    font-size: .7rem;
    margin-bottom: 2rem;
    color: #d3d3d3;
}
#col{
    font-size: .8rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}
#b{
    word-spacing: 20px;
    font-size: small;
    padding-bottom: .2rem;
    margin-bottom: 1rem;
    border-bottom: solid thin rgb(247, 243, 243);
}
.m{
    border-bottom: black;
}
#t179{
    position: absolute;
    top:20rem;
    right: -5rem;
    padding: 0.3rem ;
    border: solid thin gainsboro;
    margin-right: 20rem;
    text-decoration: underline;
}
#perfect a{
    font-size: small;
    color: gainsboro;
    text-decoration: underline;
}
#perfect{
    margin-top: .5rem;
    font-size: small;
    color: gainsboro;
    margin-bottom: 1rem;
    text-align: left;
    padding-right: 1rem;
}
.q{
    font-size: small;
    margin-top: .5rem;
}
.q input{
    border: solid thin gainsboro;
    width: 3rem;
    margin-bottom: 1.5rem;
}
#add{
    align-items: center;
    margin: 0 2rem;
    background-color: black;
    color: #fff;
    font-size: xx-small;
    border: solid black;
    margin-bottom: 1rem;
    padding: 0.3rem 9rem;
}
#buy{
    margin-left: 6rem;
    font-size: small;
    margin-bottom: 2rem;

}
#no{
    opacity: 0.5;
}
#he{
    font-size: x-small;
    background-color: #F5F5F5;
    margin-right: 25rem;
    padding: 0.3rem .4rem;
    
}
#q{
    font-size: 0.5rem;
    color: red;
    position: relative;
    bottom: .5rem;
    left: .5rem;
}
#he a{
    
    background-color: #F5F5F5;
    text-decoration: underline;
}
/*product details*/
.section1{
    margin-top: 3rem;
}
#table{
    margin-left: 3rem;
    margin-bottom: 3rem;

}
th{
    padding: 0 3rem;
}
table, th, td {
    border: 1px solid ghostwhite;
    border-collapse: collapse;
}
.vis li{
    list-style: square;
    margin-bottom: 1rem;
    font-size: small;
    color: black;
}
.vis{
    display: grid;
    grid-template-columns: repeat(2,25rem);
    
}
.spec {
    font-size: small;
    margin: 1rem 0;
}
#spec{
    border-bottom: solid black;
}
/*rating & reviews*/
#rating{
    margin-top: 1rem;
}
#star{
    background-color: #F5F5F5;
    margin-right: 59rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    display: flex;  
    margin-left: 3rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 1rem;
}
#star span{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}
#star p{
    font-size: .5rem;
}
#breakdown{
    margin-left: 3rem;
}
#breakdown h4{
    margin-bottom: 1rem;
}

.down{
    display: grid;
    grid-template-columns: 5rem 10rem 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid thin rgb(218, 213, 213);
    margin-right: 10rem;
}
.stars li{
    text-decoration: underline;
    font-size: .7rem;
    font-weight: bolder;
    margin-bottom: .2rem;
}
.numbers li{
    margin-bottom: .5rem;
    font-size: .5rem;
    color: black;
    margin-left: .5rem;
}
.progress{
    margin-top: .5rem;
}
.gray{
    background-color: rgb(235, 232, 232);
    height: .3rem;
    width: 10rem;
    margin-bottom: .9rem;
}
.brown-1{
    background-color: rgb(202, 83, 83);
    height: .3rem;
    width: 75%;
}
.brown-2{
    background-color:  rgb(202, 83, 83);
    height: .3rem;
    width: 50%;
}
.brown-3{
    background-color:  rgb(202, 83, 83);
    height: .3rem;
    width: 25%;
}
.brown-4{
    background-color:  rgb(202, 83, 83);
    height: .3rem;
    width: 10%;
}
.brown-5{
    background-color:  rgb(202, 83, 83);
    height: .3rem;
    width: 10%;
}
#customers span{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}
#customers{
    color: rgb(112, 112, 112);
    font-size: 1rem;
    margin-bottom: 1.2rem;
}
#customers p{
    color: black;
    margin-top: 1.5rem;
    font-size: .8rem;
}
.color{
    display: flex;
}
.grey{
    background-color: grey;
    height: .2rem;
    width: 4rem;
    margin-top: .2rem;
}
.space{
    margin-left: .5rem;
}
.fit{
    display: flex;
    font-size: .7rem;
}
.perfect{
    margin-left: 3rem;
}
.loose{
    margin-left: 3.3rem;
}
.loose2{
    margin-left: 2.5rem;
}
.loose1{
    margin-left: 3rem;
}
.loose3{
    margin-left: 9.2rem;
}
#nest{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.com1{
    margin-bottom: 2rem;
    font-size: .8rem;
    color: #757575;
    border-bottom: solid thin rgb(218, 213, 213);
}
.comments b{
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}
.name2{
    font-size: .8rem;
    font-weight: bold;
    color: black;
    margin-bottom: .5rem;
    border: none;
    margin-top: .5rem;
}
.f{
    margin-bottom: .4rem;
}
.was{
    color: black;
    margin-bottom: 1rem;
}
.yes{
    margin-left: 3rem;
    color: black;
    margin-bottom: 1rem;
}
.no{
    margin-left: 3rem;
    color: black;
    margin-bottom: 1rem;
}
.more, .review{
    margin-top: 2rem;
    border: solid thin black;
    font-size: .8rem;
    padding: .5rem 1rem;
}
.review{
    margin-left: 4rem;
}

#april{
    font-size: .8rem;
    position: absolute;
    top: 71rem;
    right: 8rem;
    color: #757575;
}
#january{
    font-size: .8rem;
    position: absolute;
    top: 80.5rem;
    right: 8rem;
    color: #757575;
}
#february{
    font-size: .8rem;
    position: absolute;
    top: 90.5rem;
    right: 8rem;
    color: #757575;
}

/*accesories*/
#ac{
    margin-top: 3rem;
}
#accesories{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    font-size: small;
}
#accesories h2{
    margin-bottom: 2rem;
}
#accesories span{
    font-weight: bold;
}
/*YOU MIGHT ALSO LIKE*/
h3{
    font-size: small;
    margin-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
h3 a{
    margin-left: 63rem;
    font-weight: normal;
}
#might{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}
#might span{
    font-weight: bold;
}
/*recently viewed*/
#recent{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}
#recent span{
    font-weight: bold;
}
   /*footer*/
   footer{
    margin-top: 5rem;
    padding-left: 6rem;
   margin-left: 0;
   border: 0;
   color:rgb(80, 79, 79) ;
   background-color: #FBFBFB;
   font-size: xx-small;
   background-size: cover;
}
#footer{
   padding-top: 5%;
   display: grid;
   grid-template-columns: repeat(6, 13rem);
   grid-gap: 2rem;
}
 h1{
    text-transform: uppercase;
}
#copyright{
   margin-top: 4rem;
}
footer h1{
   font-size: 0.5rem;
   margin-bottom: 1rem;
   color: black;
}
footer input{
   padding: 0.0001rem;
   border: solid thin black;
}
#email{
   border: solid thin gray;
   width: 7rem;
   margin-top: 1rem;
}
#subscribe{
   background: black;
   color: #fff;
}
#copyright{
   padding-bottom: 1rem;
}
#blank a{
   border: none;
   background-color: #FBFBFB;
}
#blank{
   display: flex;
   margin-right: 20rem;   
}
::placeholder{
    padding: .5rem 0rem .7rem .5rem;
    font-size: .7rem;
}

