*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*utiliy styles*/
body{
    text-decoration: none;
    list-style: none;
    font-size: small;
}

#main{
    margin-left: 5rem;
}
h1{
    font-size: 0.7rem;
    margin-bottom: 1rem;
}
a{
    text-decoration-line: none;
    color: rgb(192, 188, 188);
}

/*showcase*/
nav{
    display: flex;
    padding-left: 5rem;
    padding-bottom: 0.002px;
    padding-top: 1rem;
    border-bottom: 0.5px solid gainsboro;
    margin-bottom: 2rem;
}
nav li{
    margin-left: 2rem;
}
#main{
    display: grid;
    grid-template-columns: 12rem 12rem 12rem 20rem 10rem;
    grid-gap: 0.3rem;
    margin-top: 3rem;
}
#image90{
    align-self: center;
    margin-top: 7rem;
    margin-left: 2rem;
}
#image129{
    margin-left: 4.5rem;
}
li{
    margin-bottom: 1rem;
    color: rgb(192, 188, 188);
    list-style-type: none;
}
a:active{
    color: black;
}
#designer{
    border-right: 1px solid rgb(233, 228, 228);
}